# Ignore Python virtual environment folder
venv/

# Ignore configuration and secret files
.env

# Ignore Visual Studio Solution Files/Cache
.vs/
*.vsidx

# Ignore cached files and compiled code
__pycache__/
*.pyc